.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}





* {
  box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
  position: relative;
  
  }
  
  /* Hide the images by default */
  .mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
  cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* Container for image text */
  .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  }
  
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
  /* Six columns side by side */
  .column {
  float: left;
  width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
  opacity: 0.6;
  }
  
  .active,
  .demo:hover {
  opacity: 1;
  }


  #progress_bar_offline{
    /* Just set something so that progress bar can work */
      background-color: rgb(255, 71, 47);
  
  }
  /* Adjusting color of 'progress' element */
  /* reference: http://html5doctor.com/the-progress-element/ */
  /* On Chrome and Safari */
  #progress_bar_offline::-webkit-progress-bar { background: rgb(248, 0, 0); }
  #progress_bar_offline::-webkit-progress-value { background: #ff0505; }
  /* On Firefox */
  #progress_bar_offline::-moz-progress-bar { background: #df0303; }

#progress_bar_online{
  /* Just set something so that progress bar can work */
    background-color: rgb(255, 71, 47);

}
/* Adjusting color of 'progress' element */
/* reference: http://html5doctor.com/the-progress-element/ */
/* On Chrome and Safari */
#progress_bar_online::-webkit-progress-bar { background: rgb(248, 0, 0); }
#progress_bar_online::-webkit-progress-value { background: #03df15; }
/* On Firefox */
#progress_bar_online::-moz-progress-bar { background: #03df15; }






#top_navbar{
  z-index: 99999; 
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}


#mapid{
  height: 50vh;
  width: 100%;
}


.error_msg_singleimgupload{
  color: red;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(219, 125, 125, 0.3);
}

.success_msg_singleimgupload{
  color: green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(152, 219, 125, 0.3);
}

.error_msg_multipleimgupload{
  color: red;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(219, 125, 125, 0.3);
}

.success_msg_multipleimgupload{
  color: green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(152, 219, 125, 0.3);
}


.success_msg{
  color: green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(152, 219, 125, 0.3);
}

.modal-backdrop{
  display: none;
}


.modal-content{
}

#modal-box-edit-img-display{
  width: 100%;

}

.modal-dialog {
  /* position: absolute; */
  height: 100 px !important;
  width: 50ww !important;
  top: 100px;
  /* right: 100px; */
  /* bottom: 50px; */
  padding-bottom: 50px;
  /* left: 0; */
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}




.status_indicator {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: aqua;
  border-radius: 7px;
}
.bg-red{
  background-color: red;
}

.bg-green{
  background-color: rgb(14, 187, 14);
}

.fontsize-table{
  font-size: medium;
}

@media (max-width: 1200px) {
  .modal-dialog {
    width: 90vw;

  }
  .fontsize-table{
    font-size: small;
  }


}