@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

/* Import rule include something like
@font-face {  
    font-family: 'newfont';  
    src: url('http://www.tsevdos.com/fonts/newfont.ttf');  
}
*/

h1 {
  color:#dcb0fa;
  font-family: 'Droid Sans';
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}





* {
  box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
  position: relative;
  
  }
  
  /* Hide the images by default */
  .mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
  cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* Container for image text */
  .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  }
  
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
  /* Six columns side by side */
  .column {
  float: left;
  width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
  opacity: 0.6;
  }
  
  .active,
  .demo:hover {
  opacity: 1;
  }


  #progress_bar_offline{
    /* Just set something so that progress bar can work */
      background-color: rgb(255, 71, 47);
  
  }
  /* Adjusting color of 'progress' element */
  /* reference: http://html5doctor.com/the-progress-element/ */
  /* On Chrome and Safari */
  #progress_bar_offline::-webkit-progress-bar { background: rgb(248, 0, 0); }
  #progress_bar_offline::-webkit-progress-value { background: #ff0505; }
  /* On Firefox */
  #progress_bar_offline::-moz-progress-bar { background: #df0303; }

#progress_bar_online{
  /* Just set something so that progress bar can work */
    background-color: rgb(255, 71, 47);

}
/* Adjusting color of 'progress' element */
/* reference: http://html5doctor.com/the-progress-element/ */
/* On Chrome and Safari */
#progress_bar_online::-webkit-progress-bar { background: rgb(248, 0, 0); }
#progress_bar_online::-webkit-progress-value { background: #03df15; }
/* On Firefox */
#progress_bar_online::-moz-progress-bar { background: #03df15; }






#top_navbar{
  z-index: 99999; 
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}


#mapid{
  height: 40vh;
  width: 100%;
}


.error_msg_singleimgupload{
  color: red;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(219, 125, 125, 0.3);
}

.success_msg_singleimgupload{
  color: green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(152, 219, 125, 0.3);
}

.error_msg_multipleimgupload{
  color: red;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(219, 125, 125, 0.3);
}

.success_msg_multipleimgupload{
  color: green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(152, 219, 125, 0.3);
}


.success_msg{
  color: green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(152, 219, 125, 0.3);
}

.modal-backdrop{
  display: none;
}


.modal-content{
  border-color: #222;
  border-width: 0.3vw;
  background-color:#e6fdf0;
}

#modal-box-edit-img-display{
  width: 100%;

}

.modal-dialog {
  /* position: absolute; */
  height: 100 px !important;
  width: 50ww !important;
  top: 100px;
  /* right: 100px; */
  /* bottom: 50px; */
  padding-bottom: 50px;
  /* left: 0; */
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;

}




.status_indicator {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: aqua;
  border-radius: 7px;
}
.bg-red{
  background-color: red;
}

.bg-green{
  background-color: rgb(14, 187, 14);
}

.fontsize-table{
  font-size: small;
}

.analytic_chart{

}

/* change the color of leaflet map api popup */
/* can open up leaflet css file link to see css class inside */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgba(34, 34, 34, 0.99);
  /* set text color */
  color: #e6fdf0;
}
.map_popup_img{
  height: auto; 
  width: 100px;
  border-style:solid;
  border-color: rgb(177, 219, 255);
  border-width: 2px;
}


#small3dmodel{
  display:none
}


@media (max-width: 1400px) {
  .modal-dialog {
    width: 90vw;

  }
  .fontsize-table{
    font-size: small;
  }
  .analytic_chart{
    /* height: 30vh !important; */
  }
  #small3dmodel{
    display:block;

  }
  #big3dmodel{
    display:none;

  }


}

#image-container > div {
  display: inline-block;
  vertical-align: middle;

}

/* #image-container {
  display: flex;
  flex-wrap: wrap;
}

#image-container img { 
  width: 33.333%;
  height: auto;
}

@media ( max-width: 50em ) {
#image-container img { 
  width: 50%;
}
}

@media ( max-width: 25em ) {
#image-container img { 
  width: 100%;
}
}   */


.border-radius-cardd{
  border-radius: 10px;
}

.border-none{
  border: none;

}


.arrow{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

.quadros > div {
	position: relative;
	display: grid;
	align-items: center;
  height: 200px;
  width: 200px;
  margin: 0 auto
}

.quadros > div > .circle {
	position: absolute;
	/* top: -15px; */
	left: 25px;
  /* the value of left should be the difference of parent width and circle width divided by 2 */
  /* left: -15px; */
	width: 150px;
	height: 150px;
	background:
  linear-gradient(45deg, transparent, transparent 40%, rgb(107, 75, 248)),
  linear-gradient(#262626, #141414);
	border-radius: 50%;
	animation: animate_circle 2s linear infinite;
	z-index: 0;
  
}
.quadros > div > .circle:before,
.quadros > div > .circle:after {
  content: " ";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background: linear-gradient(#161616, #262626);
  border-radius: inherit;
}
.quadros > div > .circle:before {
  background: 
    linear-gradient(45deg, transparent, transparent 40%, rgb(99, 158, 235));
  filter: blur(32px);
}

@keyframes animate_circle {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.quadros > div > img {
	width: 140px;
	height: 140px;
	/*border: 6px rgba(255, 234, 118, 0.8) solid;*/
	border-radius: 50%;
	filter: brightness(95%);
	transition: all 0.5s;
	z-index: 1;
  margin: 0 auto;
}

.quadros > div > img:hover {
	filter: brightness(115%);
}


.contributors > div {
	position: relative;
	display: grid;
	align-items: center;
  height: 200px;
  width: 200px;
  margin: 0 auto
}

.contributors > div > .square_img {
	width: 140px;
	height: auto;
	/*border: 6px rgba(255, 234, 118, 0.8) solid;*/
	filter: brightness(95%);
	z-index: 1;
  margin: 0 auto;
  border: 2px solid rgb(77, 54, 209);
}

.contributors > div > .special_img {
	width: 230px;
	height: auto;
	/*border: 6px rgba(255, 234, 118, 0.8) solid;*/
	filter: brightness(95%);
	z-index: 1;
  margin: 0 auto;

}

.contributors > div > img:hover {
	filter: brightness(115%);
}

.img_sidebar{
  width:250px;
  height: auto;

}