/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(63, 63, 63, 0.99);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
    /* box-shadow: 3px 3px rgba(0, 110, 255, 0.6); */
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;

}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    /* display: block; */
    width: 100vw; 
    max-width: 100vw;
    align-items: stretch; 
    perspective: 1500px;  
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    border-radius: 10px;
    /*background:#5125f0;*/
    /* background-color: #000000; */
    color: rgb(255, 255, 255);
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;


    /* design 1 */
    background-image: linear-gradient(rgba(255, 0, 0, 0.8), rgba(241, 0, 0, 0.8), rgba(124, 74, 204, 0.8), rgba(235, 228, 247, 0.8));

    /* design 2 */
    background-image: linear-gradient(rgba(255, 238, 0, 0.8), rgba(25, 156, 25, 0.8), rgba(19, 145, 57, 0.8), rgba(137, 209, 155, 0.8));

    /* design 3 */
    background-image: linear-gradient(rgba(11, 0, 158, 1), rgb(23, 12, 168), rgb(141, 92, 219), rgb(175, 155, 190), rgb(213, 201, 223));

    

    z-index:99999;
    /*
    position: fixed;
    top: 0;
    left: 0; */
    
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    /* set the border radius */
    border-radius: 30px;
    /* design 1 */
    /* background: rgba(255, 30, 30, 0.8); */
    /* color:#fafafa; */
    /* design 2 */
    /* background-image: linear-gradient(rgba(255, 238, 0, 0.8), rgba(170, 240, 89, 0.8)); */
    /* design 3 */
    background: rgb(17, 6, 170);

    color:#fafafa;
}

#sidebar ul.components {
    padding: 20px 0;
    /* design 1 */
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    padding: 10px;

    /* design 1 */
    color: rgb(255, 255, 255);
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    /* when hovering over */
    /* color is text color, bg is bg */
    /* desgin 1 */
    color: #ffffff;
    background: rgb(28, 8, 143);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    /* when active */
    /* design 1 */
    /* color: rgb(255, 255, 255);
    background: #542f7e; */
    /* design 2 */
    color: rgb(255, 255, 255);
    background: rgb(28, 8, 143);

}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #08044b;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.debug_button {
    background: rgba(0, 0, 0, 0.5);
    
    color: #5eff00;
    border-color: rgba(12, 6, 68, 0.85);
    border-style: solid;
    border-width: 3px;
    border-radius: 15px !important;
}

a.logout_button {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-color: rgba(12, 6, 68, 0.85);
    border-style: solid;
    border-width: 3px;
    border-radius: 15px !important;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    
    width: 100%;
    padding: 20px;


    height: 100vh;
    overflow: auto;
    z-index:1;
    background-color: rgba(63, 63, 63, 0.99);
    transition: all 0.3s;
    /* position: absolute */
}

#sidebarCollapse {
    width: 38px;
    height: 38px;
    background: transparent;
    cursor: pointer;
}

#sidebarCollapse span {
    /* this section is for side bar toggle button 'X' */
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: rgb(255, 255, 255);
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0);
    z-index: 9999;
    cursor: pointer;
  }

/* .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
} */

/* #dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
} */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1200px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}



