{% extends "base.html" %}

{% block title %} Admin Panel {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}

{% endblock stylesheets %}

{% block content %}

  <div class="row ml-3 mt-2 text-white">
    <h3>Admin Panel - Server Monitoring</h3>
  </div>
  <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="card mb-3" id = "manage_users">
            <div class="card-header">
              <h4 class="card-title"> Server Activities</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive" style = "height: 40vh; overflow-y: scroll;">
                <table class="table tablesorter fontsize-table " id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>
                        Time [UTC+8]
                      </th>
                      <th>
                        Activity Type
                      </th>
                      <th>
                        Description
                      </th>

      
                    </tr>
                  </thead>
                  <tbody>
                    {% set counter = namespace(value = 0) %}
                    {% for description in activity_description %}
                      <tr>
                        <td>
                          {{activity_date[counter.value]}}
                        </td>
                        <td>
                          {{activity_type[counter.value]}}
                        </td>
                  
                        <td>
                          {{description}}
                        </td>
      
                      </tr>
                      {% set counter.value = counter.value + 1 %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
     
      </div>
  </div>




{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

{% endblock javascripts %}   
