{% extends "base.html" %}

{% block title %} About us {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class = "text-white">
    <h1>About Us</h1>

</div>



<div class = "row">
    <div class="col-lg-8 col-md-12 ">
        <div class = "card bg-dark text-white">
            <img class = "ml-2 mr-2 mt-2 mb-2" src = "{{images[0]}}">

            <div class = "ml-3">
                <h4>User feedback</h4>
                <p>Found any bug? We will be glad to receive your feedback.<br>
                Report any issue by clicking <a href  = "http" style = "color:blue;">here</a><br>
            You may also email your feedback to efyjl10@nottingham.edu.my</p>

            </div>



            
        </div>

    </div>

    

</div>







{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

{% endblock javascripts %}   



