{% extends "base.html" %}

{% block title %} About us {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}




<div class = "row">
    <div class="col-sm-5">
        <div class = "card bg-dark text-white border-radius-cardd bg-transparent border-none">
            <h1 class = "ms-5 me-2 mt-2 mb-2">About Us</h1>

            
        </div>
        {% for img in images %}
        <div class = "card bg-dark text-white border-radius-cardd bg-transparent border-none">
            <img class = "ms-2 me-2 mt-2 mb-2" src = "{{img}}">

            
        </div>
        {% endfor %}

    </div>
    <div class="col-sm-5">
        <div class = "card bg-dark text-white border-radius-cardd bg-transparent border-none">
        
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class = "quadros">
                            <div>
                                <div class="circle"></div>
                                <img src="static/img/JiaYu.jpg" alt="Law Jia Yu" />
                            </div>
    
                        </div>
                    
                    </div>
                    <div class="col-sm mb-4">
                        <div class = "quadros">
                            <div>
                                <div class="circle"></div>
                                <img src="static/img/JiaYu.jpg" alt="Law Jia Yu" />
                            </div>
    
                        </div>
                    
                    </div>
    
                </div>
                <div class = "row mt-12 justify-content-center">
                    <div class="col-sm">
                        <div class = "quadros">
                            <div>
                                <div class="circle"></div>
                                <img src="static/img/JiaYu.jpg" alt="Law Jia Yu" />
                            </div>
    
                        </div>
                    </div>
    
                    <div class="col-sm align-items-center">
                        <div class = "quadros">
                            <div>
                                <div class="circle"></div>
                                <img src="static/img/JiaYu.jpg" alt="Law Jia Yu" />
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="name">Human </div>
    
            
        </div>

    </div>


    

</div>







{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

{% endblock javascripts %}   



