{% extends "base.html" %}

{% block title %} Analytics {% endblock title%} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}
<!-- For Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{% endblock stylesheets %}

{% block content %}
<div class = "text-white">
  
  <h3>Analytics</h3><br>
</div>
<div class="row">
  <!--Filter field-->
    <div class="col-lg-6">
      <div class="card mb-3 card-chart bg-dark text-white border-radius-cardd">
        <div class="card-header">
          <h4 class = "card-title">Number of custom image type over custom time range</h4>

        </div>
        <div class="card-body">
          <form style = "width:100%;" id="datetime_range" action="{{ url_for('analytics') }}" method="GET" autocomplete="off">
            <div class = "form-group row ms-1"> 
              <label for="detection" class="col-sm-2 col-form-label" style = "max-width: 80%;">Image type</label>
              <div class="col-sm-10">
                <select class="form-select form-select-md mb-3" id="detection_type" type="text" value="" name="detection_type">

                  {% if current_detection_type == "elephant" %}
                  <option value = "elephant" selected>Elephant detection</option>
           
                  {% else %}
                  <option value = "elephant">Elephant detection</option>
                  {% endif %}
                  {% if current_detection_type == "human" %}
                  <option value = "human" selected>Human detection</option>
               
                  {% else %}
                  <option value = "human">Human detection</option>
                  {% endif %}
                  {% if current_detection_type == "any" %}
                  <option value = "any" selected>Any</option>
                 
                  {% else %}
                  <option value = "any">Any</option>
                  {% endif %}
                </select>
               </div>
            </div>

            <div class = "form-group row ms-1">
              <!-- <div class="col-sm-6"> -->
                <label for="from" class="col-sm-2 col-form-label">Start time</label>
                <div class="col-sm-6">
                  <input class="u-full-width" id="datetimepicker1" type="text" value="{{from_date}}" name="from">
                </div>
              <!-- </div> -->

              <!-- <div class="col-sm-6"> -->


              <!-- </div> -->

            </div>
            <div class = "form-group row ms-1">
              <label for="to" class="col-sm-2 col-form-label">End time</label>
              <div class="col-sm-6">
                <input class="u-full-width" id="datetimepicker2" type="text" value="{{to_date}}" name="to">              
              </div>
              
            </div>
            

            <div class = "form-group ms-3">
              <input type="hidden" class="timezone" name="timezone" />
              <input class="mt-3 btn btn-fill btn-primary" type="submit" value="Submit"  id="submit_button" /> 
            </div>

          </form>
                
          <div class="card-body">
              <div><canvas id="CustomChart2" style="width:100%;max-width:600px;" class = "analytic_chart"></canvas></div>
          </div>
          
          <br><br><br>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card mb-3 bg-dark text-white border-radius-cardd">
          <div class="card-header ">
              <h4 class="card-title">Number of uploaded images over all time</h4>
          </div>
          
          <div class="card-body">
              <div><canvas id="AllTimeChart2" style="width:100%;max-width:600px;" class = "analytic_chart"></canvas></div>
          </div>
          
      </div>
      <div class="card mb-3 bg-dark text-white border-radius-cardd">
        <div class="card-header bg-dark text-white">
            <h4 class="card-title">Number of uploaded images over past 7 days</h4>
        </div>
        
        <div class="card-body">
            <div><canvas id="Past7daysChart2" style="width:100%;max-width:600px;" class = "analytic_chart"></canvas></div>
        </div>
        
    </div>
  </div>


         
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}
<!-- Adjust chart.js colors and scales by  referencing: https://stackoverflow.com/questions/37292423/chart-js-label-color -->
  
<script>
    var all_time_x_array = {{all_time_x_array| tojson}};
    var all_time_y_array = {{all_time_y_array| tojson}};
    var all_time_big_Y_array_device1 = {{all_time_big_Y_array_device1| tojson}};
    var all_time_big_Y_array_device2 = {{all_time_big_Y_array_device2| tojson}};
    var all_time_big_Y_array_device3 = {{all_time_big_Y_array_device3| tojson}};

    var this_week_x_array = {{this_week_x_array| tojson}};
    var this_week_y_array = {{this_week_y_array| tojson}};
    var this_week_big_Y_array_device1 = {{this_week_big_Y_array_device1| tojson}};
    var this_week_big_Y_array_device2 = {{this_week_big_Y_array_device2| tojson}};
    var this_week_big_Y_array_device3 = {{this_week_big_Y_array_device3| tojson}};
    
    var input_filter_x_array = {{input_filter_x_array| tojson}};
    var input_filter_y_array = {{input_filter_y_array| tojson}};
    var input_filter_big_Y_array_device1 = {{input_filter_big_Y_array_device1| tojson}};
    var input_filter_big_Y_array_device2 = {{input_filter_big_Y_array_device2| tojson}};
    var input_filter_big_Y_array_device3 = {{input_filter_big_Y_array_device3| tojson}};



    new Chart("CustomChart2", {
      type: "line",
      data: {
        labels: input_filter_x_array,
        datasets: [{
           
          data: input_filter_y_array,
          borderColor: "rgba(140, 89, 199, 1)",
          fill: false,
          label: 'All end devices'
        
      }, { 
          data: input_filter_big_Y_array_device1,
          borderColor: "rgba(216, 53, 53, 1)",
          fill: false,
          label: "end device 1"
        }, { 
          data: input_filter_big_Y_array_device2,
          borderColor: "rgb(37, 206, 74)",
          fill: false,
          label: "end device 2"
        }, { 
          data: input_filter_big_Y_array_device3,
          borderColor: "rgba(0, 154, 243, 1)",
          fill: false,
          label: "end device 3"
        }]
      },
      options: {
        legend: {display: true,
        labels: {
          fontColor: "white"
        }
      },

        scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                        // fontSize: 18,
                        callback: function(value) {if (value % 1 === 0) {return value;}},
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                        // fontSize: 14,
                        stepSize: 1,
                        beginAtZero: true
                    }
                }]
        }
      }
    });


    new Chart("AllTimeChart2", {
      type: "line",
      data: {
        labels: all_time_x_array,
        datasets: [{
          label: 'All end devices', 
          data: all_time_y_array,
          borderColor: "rgba(140, 89, 199, 1)",
          fill: false


        },{ 
          data: all_time_big_Y_array_device1,
          borderColor: "rgba(216, 53, 53, 1)",
          fill: false,
          label: "end device 1"
        }, { 
          data: all_time_big_Y_array_device2,
          borderColor: "rgb(37, 206, 74)",
          fill: false,
          label: "end device 2"
        }, { 
          data: all_time_big_Y_array_device3,
          borderColor: "rgba(0, 154, 243, 1)",
          fill: false,
          label: "end device 3"
        }]
      },
      options: {
        legend: {display: true,
        labels: {
          fontColor: "white"
        }
      },

        scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                        // fontSize: 18,
                        callback: function(value) {if (value % 1 === 0) {return value;}},
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                        // fontSize: 14,
                        stepSize: 1,
                        beginAtZero: true
                    }
                }]
        }
      }
    });

    new Chart("Past7daysChart2", {
      type: "line",
      data: {
        labels: this_week_x_array,
        datasets: [{

          label: 'All end devices', 
          data: this_week_y_array,
          borderColor: "rgba(140, 89, 199, 1)",
          fill: false
        },{ 
          data: this_week_big_Y_array_device1,
          borderColor: "rgba(216, 53, 53, 1)",
          fill: false,
          label: "end device 1"
        }, { 
          data: this_week_big_Y_array_device2,
          borderColor: "rgb(37, 206, 74)",
          fill: false,
          label: "end device 2"
        }, { 
          data: this_week_big_Y_array_device3,
          borderColor: "rgba(0, 154, 243, 1)",
          fill: false,
          label: "end device 3"
        }]
      },
      options: {
        legend: {display: true,
        labels: {
          fontColor: "white"
        }
      },

        scales: {
                yAxes: [{
                    ticks: {
                        fontColor: "white",
                        // fontSize: 18,
                        callback: function(value) {if (value % 1 === 0) {return value;}},
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: "white",
                        // fontSize: 14,
                        stepSize: 1,
                        beginAtZero: true
                    }
                }]
        }
      }
    });

</script>

<!-- Fetch jQuery -->
<script src="//code.jquery.com/jquery-3.5.0.min.js"></script>

<!-- Datetimepicker files start, copy from cdnjs.com (easier to maintain), instead of downloading -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<!-- jstimezonedetect script start -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.min.js" ></script>

<!--use Jquery function to attach datetime picker to 2 form fields & specify date format-->
<!--reference to from_date variable where python script will pass to template-->
<script>
// jQuery( "#datetime_range" ).submit(function( event ) {
//   timezone = jstz.determine();
//   jQuery(".timezone").val(timezone.name());
// });

jQuery('#datetimepicker1').datetimepicker(
  {
  format:'Y-m-d H:i',
  theme: 'light',
  defaultDate:'{{from_date}}' 
  });
jQuery('#datetimepicker2').datetimepicker({
  format:'Y-m-d H:i',
  theme: 'light',
  defaultDate:'{{to_date}}'
  });
</script>


{% endblock javascripts %}   


<!-- References -->
<!-- how to change chart.js real axis to whole number integer only -->
<!-- https://stackoverflow.com/questions/15751571/change-the-y-axis-values-from-real-numbers-to-integers-in-chart-js -->
