{% extends "base.html" %}

{% block title %} Change Password {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="card bg-dark text-white">
<!--
==============================================================
=============================Form=============================
==============================================================
-->
      <form role="form" method="POST" action="">
  
        {{ form.hidden_tag() }} 

        <div class="card-header">
          <h1 class="title">Change Password</h1>
          <p>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
         
                {% for category, message in messages %}
                 
                  <p>
                    <div class="{{ category }}">{{ message }}</div>
                  </p>
                  
                {% endfor %}
                
              {% endif %}
            {% endwith %}
          </p>

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% endif %}  
          </h6>
        </div>

        <div class="card-body">

            <div class="row">
              <div class="col-md-6 px-md-1">
                <div class="form-group">
                  <label>Username</label>
                  {{ form.username(class="form-control") }}
                </div>
                <div>
                  {% for error in form.username.errors %}
                  <p>{{error}}</p>
                  {% endfor %}
                </div>

              </div>
            </div>


            <div class="row">
              <div class="col-md-6 px-md-1">
                <div class="form-group">
                  <label>Current Password</label>
                  {{ form.password(class="form-control", type="password") }}
                </div>
                {% for error in form.password.errors %}
                <p>{{error}}</p>
                {% endfor %}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 px-md-1">
                <div class="form-group">
                  <label>New Password</label>
                  {{ form.new_password(class="form-control", type="password") }}
                </div>
                {% for error in form.new_password.errors %}
                <p>{{error}}</p>
                {% endfor %}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 px-md-1">
                <div class="form-group">
                  <label>Confirm new password</label>
                  {{ form.new_password2(class="form-control", type="password") }}
                </div>
                {% for error in form.new_password2.errors %}
                <p>{{error}}</p>
                {% endfor %}
              </div>
            </div>

            
        </div>
        <div class="card-footer">
          <button type="submit" name="register" class="btn btn-fill btn-primary">Change password</button>
          &nbsp; &nbsp;
        </div>

      </form>

    </div>
  </div>
</div>



{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

{% endblock javascripts %}   



