{% extends "base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}
{% endblock stylesheets %}

{% block content %}

<div class="row">

    <div class="col-12">
      <div class="card card-chart">
          <h5>current_user.username >>> {{current_user.username}}</h5>
          <h5>current_user.access_level >>> {{current_user.access_level}}</h5>
     
          
      </div>
    </div>
  </div>



{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

{% endblock javascripts %}   



