{% extends "base.html" %}

{% block title %} Device Monitoring {% endblock title%} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}



{% endblock stylesheets %}

{% block content %}


<div class = "row mt-3">
  <div class="col-lg-12">

    <div class="card bg-dark text-white" id = "device_status">
      <div class="card-header">
        <h4 class="card-title" style = "display:inline-block;"> Device Information</h4>
        <div class="btn-group float-right" role="group" aria-label="">
          <button id = "device_general_table_button" type="button" onclick = "device_general_table()" class="btn btn-success card-title align-items-end" style = "border-width: 3px; border-style: solid; border-color: aliceblue;">General</button>
          <button id = "device_battery_table_button" type="button" onclick = "device_battery_table()" class="btn btn-info card-title align-items-end" style = "border-width: 3px; border-style: solid; border-color: aliceblue;">Battery health</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive" id = "device_general_table">
          <table class="table tablesorter fontsize-table " id="">
            <thead class=" text-info">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Location
                </th>
                <th>
                  Last Seen [UTC+8]
                </th>

                <th>
                  Message
                </th>
                <th class="text-center">
                  Status
                </th>

              </tr>
            </thead>
            <tbody>
              {% set counter = namespace(value = 0) %}
              {% for name in devices_name %}
                <tr>
                  <td>
                    {{name}}
                  </td>
                  <td>
                    Latitude Longitude
                  </td>
            
                  <td>
                    {{devices_last_seen[counter.value]}}
                  </td>

                  <td>
                    {{devices_message[counter.value]}}
                  </td>

                  <td class="text-center">

                      {% if devices_status[counter.value] == "Offline" %}
                      <!-- <label for="progress_bar_offline">Offline</label>
                      <progress id="progress_bar_offline" value="100" max="100"> 100% </progress> -->
                      <li class="status_indicator bg-red mr-2"></li>Offline 

                      {% else %}
                      <!-- <label for="progress_bar_online">Online</label>
                      <progress id="progress_bar_online" value="100" max="100"> 100% </progress> -->
                      <li class="status_indicator bg-green mr-2"></li>Online 
                      {% endif %}

                      
                     

                  </td>
                </tr>
                {% set counter.value = counter.value + 1 %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <div class="table-responsive" id = "device_battery_table" style = "display:none;">
          <table class="table tablesorter fontsize-table " id="">
            <thead class=" text-info">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Battery voltage
                </th>
                <th>
                  Battery current
                </th>

                <th>
                  Power level
                </th>
                <th>
                  Battery level
                </th>
                <th>
                  Battery status
                </th>

              </tr>
            </thead>
            <tbody>
              {% set counter = namespace(value = 0) %}
              {% for name in devices_name %}
                <tr>
                  <td>
                    {{name}}
                  </td>
                  <td>
                    {{devices_battery_voltage[counter.value]}} V
                  </td>
                  <td>
                    {{devices_battery_current[counter.value]}} mA
                  </td>
                  <td>
                    {{devices_power_level[counter.value]}} W
                  </td>
                  <td class="text-center">

                      <label for="progress_bar_online">{{devices_battery_level[counter.value]}} %</label>
                      <progress id="progress_bar_online" value="{{devices_battery_level[counter.value]}}" max="100"> </progress>
                    
            
                  </td>

                  <td>
                    {{devices_battery_status[counter.value]}}
                  </td>
                </tr>
                {% set counter.value = counter.value + 1 %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>









{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

<!--
  =======================================Leaflet Map API=======================================
-->
<script>

function device_general_table() {
  document.getElementById("device_general_table").style.display = "block";
  document.getElementById("device_battery_table").style.display = "none";

  document.getElementById("device_general_table_button").classList.remove("btn-info");
  document.getElementById("device_general_table_button").classList.add("btn-success");

  document.getElementById("device_battery_table_button").classList.add("btn-info");
  document.getElementById("device_battery_table_button").classList.remove("btn-success");
  
}

function device_battery_table() {
  document.getElementById("device_general_table").style.display = "none";
  document.getElementById("device_battery_table").style.display = "block";

  document.getElementById("device_battery_table_button").classList.remove("btn-info");
  document.getElementById("device_battery_table_button").classList.add("btn-success");

  document.getElementById("device_general_table_button").classList.add("btn-info");
  document.getElementById("device_general_table_button").classList.remove("btn-success");

}

function normal_view() {
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoiZHJpdmUxIiwiYSI6ImNrdXNsMmpyczB1cW8yd3FqNnNqaDB6dzcifQ.iLB9Fb5ExInw6SUIwCRnhQ'
    }).addTo(mymap);

    document.getElementById("normal_view_button").classList.remove("btn-info");
    document.getElementById("normal_view_button").classList.add("btn-success");

    document.getElementById("satelite_view_button").classList.add("btn-info");
    document.getElementById("satelite_view_button").classList.remove("btn-success");
}

function satelite_view() {
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/satellite-v9',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoiZHJpdmUxIiwiYSI6ImNrdXNsMmpyczB1cW8yd3FqNnNqaDB6dzcifQ.iLB9Fb5ExInw6SUIwCRnhQ'
    }).addTo(mymap);

    document.getElementById("satelite_view_button").classList.remove("btn-info");
    document.getElementById("satelite_view_button").classList.add("btn-success");

    document.getElementById("normal_view_button").classList.add("btn-info");
    document.getElementById("normal_view_button").classList.remove("btn-success");
}
</script>
  


{% endblock javascripts %}   
