{% extends "base.html" %}

{% block title %} Data Center {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}

{% endblock stylesheets %}

{% block content %}  
  <div class="row">
    <!--Filter field-->
      <div class="col-lg-6 col-md-12">
        <div class="card card-chart ml-1">
          <div class="card-body">
            <h3 class="card-title">Image Filter</h3>
            <form style = "width:100%;" id="datetime_range" action="/display_image" method="GET" autocomplete="off">
               
              <div class = "form-group row ml-1">
                <label for="from" class="col-sm-3 col-form-label">Start time</label>
                <div class="col-sm-9">
                  <input style="max-width: 80%;" class="u-full-width" id="datetimepicker1" type="text" value="{{from_date}}" name="from">
                </div>
              </div>
              
              <div class = "form-group row ml-1">
                <label for="to" class="col-sm-3 col-form-label">End time</label>
                <div class="col-sm-9">
                  <input style="max-width: 80%;" class="u-full-width" id="datetimepicker2" type="text" value="{{to_date}}" name="to">              </div>
              </div>

              <div class = "form-group row ml-1"> 
                <label for="station" class="col-sm-3 col-form-label">Image source</label>
                <div class="col-sm-9">
                  <select class="u-full-width" id="station" type="text" value="{{station}}" name="station">
                    <option value = "station 1">station 1</option>
                    <option value = "station 2">station 2</option>
                    <option value = "station 3">station 3</option>
                    <option value = "uploaded">uploaded</option>
                  </select>

                </div>

              </div>


              <div class = "form-group ml-3">
                <input type="hidden" class="timezone" name="timezone" />
                <input class="btn btn-fill btn-primary" type="submit" value="Submit"  id="submit_button" /> 
              </div>
            
            </form>

           

          </div>

        </div>
      </div>
           
  
  </div>
  
  <div class="row ml-3 mt-2">
    <br><br>
    <h3>Filtered images</h3>
  </div>
  <div class="row">
    {% set counter = namespace(value = 0) %}
    {% for image in image_paths %}
      <div class="col-lg-3 col-md-12">
        <div class="col">
          <div class="card border-dark mb-3">
            <div class="card-header">{{image_source[counter.value]}}</div>
            <img src="{{image}}">
            <div class="card-body">
              <h6 class="card-title">Timestamp: {{image_timestamps[counter.value]}}</h6>
              <p class="card-text">Uploader: {{image_uploader[counter.value]}}<br> Tag: <br> Latitude: {{image_latitude[counter.value]}} Longitude: {{image_longitude[counter.value]}}</p>
              <button type="button">Edit</button>
            
              <form style = "width:100%;" id="delete_img" action="{{ url_for('delete_img', img_id=image_id[counter.value]) }}" method="GET">
                
                <div class = "form-group ml-3">
                  <input class="btn btn-fill btn-primary" type="submit" value="Delete"  id="deleteButton" /> 
                </div>
            
              </form>
              
            </div>
          </div>
        </div>
      </div>
      {% set counter.value = counter.value + 1 %}
    {% endfor %}
  
  </div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

<!-- Fetch jQuery -->
<script src="//code.jquery.com/jquery-3.5.0.min.js"></script>

<!-- Datetimepicker files start, copy from cdnjs.com (easier to maintain), instead of downloading -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/ >
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<!-- jstimezonedetect script start -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.min.js" ></script>

<!--use Jquery function to attach datetime picker to 2 form fields & specify date format-->
<!--reference to from_date variable where python script will pass to template-->
<script>
jQuery( "#datetime_range" ).submit(function( event ) {
  timezone = jstz.determine();
  jQuery(".timezone").val(timezone.name());
});

jQuery('#datetimepicker1').datetimepicker(
  {
  format:'Y-m-d H:i',
  defaultDate:'{{from_date}}' 
  });
jQuery('#datetimepicker2').datetimepicker({
  format:'Y-m-d H:i',
  theme: 'dark',
  defaultDate:'{{to_date}}'
  });

jQuery("#range_select input[type=radio]").click(function(){
  timezone = jstz.determine();
  jQuery(".timezone").val(timezone.name());
  jQuery(".station").val({{station}});
  jQuery("#range_select").submit();
  });
</script>


{% endblock javascripts %}   



