{% extends "base.html" %}

{% block title %} Home {% endblock title%} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}


<script>
  
  var myLat = {{image1| tojson}};
  
</script>
{% endblock stylesheets %}

{% block content %}
<div class = "row">
  <div class="col-lg-12">
    <div class="card mb-3 bg-transparent text-white">
      <div class="card-header">
        <h4 class="card-title"> Welcome, {{current_user.username}}</h4>

      </div>

    </div>
    <div class="card bg-dark text-white" id = "device_status">
      <div class="card-header">
        <h4 class="card-title"> Device Status</h4>
      </div>
      <div class="card-body">
        
        <div class="table-responsive">
          <table class="table tablesorter fontsize-table " id="">
            <thead class=" text-info">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Location
                </th>
                <th>
                  Last Seen [UTC+8]
                </th>

                <th>
                  Message
                </th>
                <th class="text-center">
                  Status
                </th>

              </tr>
            </thead>
            <tbody>
              {% set counter = namespace(value = 0) %}
              {% for name in devices_name %}
                <tr>
                  <td>
                    {{name}}
                  </td>
                  <td>
                    Latitude Longitude
                  </td>
            
                  <td>
                    {{devices_last_seen[counter.value]}}
                  </td>

                  <td>
                    {{devices_message[counter.value]}}
                  </td>

                  <td class="text-center">

                      {% if devices_status[counter.value] == "Offline" %}
                      <!-- <label for="progress_bar_offline">Offline</label>
                      <progress id="progress_bar_offline" value="100" max="100"> 100% </progress> -->
                      <li class="status_indicator bg-red mr-2"></li>Offline 

                      {% else %}
                      <!-- <label for="progress_bar_online">Online</label>
                      <progress id="progress_bar_online" value="100" max="100"> 100% </progress> -->
                      <li class="status_indicator bg-green mr-2"></li>Online 
                      {% endif %}

                      
                     

                  </td>
                </tr>
                {% set counter.value = counter.value + 1 %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<div class = "row mt-3">
  <div class="col-lg-12">

    <div class="card bg-dark text-white" id = "device_status">
      <div class="card-header">
        <h4 class="card-title"> Device Battery</h4>
      </div>
      <div class="card-body">
        
        <div class="table-responsive">
          <table class="table tablesorter fontsize-table " id="">
            <thead class=" text-info">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Battery voltage
                </th>
                <th>
                  Battery current
                </th>

                <th>
                  Power level
                </th>
                <th>
                  Battery level
                </th>
                <th>
                  Battery status
                </th>

              </tr>
            </thead>
            <tbody>
              {% set counter = namespace(value = 0) %}
              {% for name in devices_name %}
                <tr>
                  <td>
                    {{name}}
                  </td>
                  <td>
                    {{devices_battery_voltage[counter.value]}} V
                  </td>
                  <td>
                    {{devices_battery_current[counter.value]}} mA
                  </td>
                  <td>
                    {{devices_power_level[counter.value]}} W
                  </td>
                  <td class="text-center">

                      <label for="progress_bar_online">{{devices_battery_level[counter.value]}} %</label>
                      <progress id="progress_bar_online" value="{{devices_battery_level[counter.value]}}" max="100"> </progress>
                    
            
                     

                  </td>

                  <td>
                    {{devices_battery_status[counter.value]}}
                  </td>
                </tr>
                {% set counter.value = counter.value + 1 %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>






<div class="row mt-3">
  
  <div class="col-lg-12">
    <div class="card bg-dark text-white" id = "elephant_radar">
      <div class="card-header">
        <h5 class="card-category">Aerial map</h5>
        <h3 class="card-title" style = "display:inline-block;"><i class="tim-icons icon-bell-55 text-primary"></i> Elephant Radar</h3>
        <div class="btn-group float-right" role="group" aria-label="">
          <button type="button" onclick = "normal_view()" class="btn btn-success card-title align-items-end" style = "border-width: 3px; border-style: solid; border-color: aliceblue;">Normal view</button>
          <button type="button" onclick = "satelite_view()" class="btn btn-success card-title align-items-end" style = "border-width: 3px; border-style: solid; border-color: aliceblue;">Satelite view</button>
        </div>
        
        
      </div>
      <div class = "card-body">
        <div id="mapid"></div>
      </div>
      
    </div>
  </div>
</div>

<!-- This section is just to remind me how to use JavaScript array in JSON format -->
<!-- <div class="row">
  <button class = "btn" onclick="alert('Geocode: ' + myLat[0] + ' ' + myLat[1] + ' ' + myLat[2] + ' ' + myLat[20])" style = "height: 100px; width:200px;"/>
</div> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

<!--
  =======================================Leaflet Map API=======================================
-->
  <script>
    
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a> © <a href = "https://www.maxar.com/"> Maxar </a> <a href = "https://www.mapbox.com/map-feedback/">Improve this map</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11', //mapbox/satellite-v9
      // id: 'mapbox/satellite-v9',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoiZHJpdmUxIiwiYSI6ImNrdXNsMmpyczB1cW8yd3FqNnNqaDB6dzcifQ.iLB9Fb5ExInw6SUIwCRnhQ'
    }).addTo(mymap);

    // var marker = L.marker([1.818, 103.843]).addTo(mymap);
    // var marker2 = L.marker([1.788, 103.928]).addTo(mymap);
    // var marker3 = L.marker([1.863, 103.89]).addTo(mymap);
    // var marker4 = L.marker([1.833, 103.951]).addTo(mymap);

    var site1_marker = L.marker([2.1228960, 103.4278710], {fillColor: 'rgb(0,0,0)', color: 'red', fillOpacity: 0.5}).addTo(mymap);
    var site2_marker = L.marker([2.178698, 103.830802]).addTo(mymap);
    var site3_marker = L.marker([2.0609780, 103.8798060]).addTo(mymap);



//     var circle = L.circle([1.833, 103.951], {
//     color: 'red',
//     fillColor: '#f03',
//     fillOpacity: 0.5,
//     radius: 500
// }).addTo(mymap);
// var polygon = L.polygon([
//     [1.818, 103.843],
//     [1.788, 103.928],
//     [1.863, 103.89]
// ]).addTo(mymap);

// marker.bindPopup("<b>Hello world!</b><br>I am {{current_user.username}}").openPopup();
// marker2.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
// marker3.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
// marker4.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

site1_marker.bindPopup("<strong>Site 1 <br> {{image1[1]}} <br> {{image1[2]}} <br></strong> <br><img src='{{image1[0]}}' class = 'map_popup_img'/> ").openPopup();
site2_marker.bindPopup("<strong>Site 2 <br> {{image2[1]}} <br> {{image2[2]}} <br></strong> <br><img src='{{image2[0]}}' class = 'map_popup_img'/>").openPopup();
site3_marker.bindPopup("<strong>Site 3 <br> {{image3[1]}} <br> {{image3[2]}} <br></strong> <br><img src='{{image3[0]}}' class = 'map_popup_img'/>").openPopup();

// circle.bindPopup("I am a circle.");
// polygon.bindPopup("I am a polygon.");



function normal_view() {
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoiZHJpdmUxIiwiYSI6ImNrdXNsMmpyczB1cW8yd3FqNnNqaDB6dzcifQ.iLB9Fb5ExInw6SUIwCRnhQ'
    }).addTo(mymap);
}

function satelite_view() {
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/satellite-v9',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoiZHJpdmUxIiwiYSI6ImNrdXNsMmpyczB1cW8yd3FqNnNqaDB6dzcifQ.iLB9Fb5ExInw6SUIwCRnhQ'
    }).addTo(mymap);
}
</script>
  


{% endblock javascripts %}   
