{% extends "base.html" %}

{% block title %} Login {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}
<!--Imports a model-viewer JavaScript code -->
<!--It helps to handle how the 3D Object would be displayed -->

<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
{% endblock stylesheets %}

{% block content %}
<div class="row mb-3" >
  <div class="col-md-6">
    <div class="card bg-dark text-white bg-transparent">
      <div>
        <!-- <img src = "/static/img/EIDDS_logo.png" style = "height: 20vh; width: auto;" class = "center mb-3"/> -->
        <model-viewer src="static/3D models/GLTF/GLTF/Test_1.0.gltf" alt="3D model" auto-rotate camera-controls ar ios-src="static/3D models/GLTF/GLTF/Test_1.0.gltf" style = "height: 20vh; width: auto;"></model-viewer>


      </div>
      
    </div>
  </div>
</div>
    

    

    

    


<div class="row">
  <div class="col-lg-6">
    <div class="card bg-dark text-white">
      <!--==========Form=========-->
    <form role="form" method="POST" action="">    
      {{ form.hidden_tag() }} 
      <div class="card-header ms-1">
        <h1 class="title">Login</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <h4 style = "color:rgb(212, 145, 243)" class=flashes>
            {% for message in messages %}
              {{ message }}
              {% endfor %}
              </h4>
          {% endif %}
        {% endwith %}
        {% if msg %}
        <span class="text-danger">{{ msg}}</span>
        {% endif %} 

        <h6 class="card-category ms-1">
          Login with your credentials
          </h6>
      </div>

      <div class="card-body ms-1">

          <div class="row">
            <div class="col-md-10 px-md-1">
              <div class="form-group">
                <label>Username</label>
                {{ form.username(class="form-control") }}
              </div>
              <div>
                {% for error in form.username.errors %}
                <p>{{error}}</p>
                {% endfor %}

              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-10 px-md-1">
              <div class="form-group">
                <label>Password</label>
                {{ form.password(class="form-control", type="password") }}
              </div>
              {% for error in form.password.errors %}
              <p>{{error}}</p>
              {% endfor %}
            </div>
          </div>
          
      </div>
      <div class="card-footer">
        <button type="submit" name="login" class="btn btn-fill btn-primary">Login</button>
        &nbsp; &nbsp;
        <br><br>Don't have an account? Please contact admin for account creation.
        
      </div>
    </form>

    </div>
  </div>
</div>


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

{% endblock javascripts %}   



