{% extends "base.html" %}

{% block title %} Data Center {% endblock title%} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{{ super() }}

{% endblock stylesheets %}

{% block content %}





<div class="row mt-3">
  <div class="col">
    <div class="col-lg-6">
      <div class="card bg-dark text-white border-radius-cardd">
        <div class = "ms-3 mt-3 me-3">
          <h2>Data Center - Upload Image(s)</h2>
          <p>This section is for users to upload relevant data collected either manually or through any related activity.</p> 

          <p>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
         
                {% for category, message in messages %}
                  {% if "multipleimgupload" in category %}
                  <p>
                    <div class="{{ category }}">{{ message }}</div>
                  </p>

                  {% endif %}
                {% endfor %}
                
              {% endif %}
            {% endwith %}
          </p>
        </div>
        
          <form method="POST" action="/data_center/update_multiple_images" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group ms-3 ">
              <label for="multipleFileUpload">Choose images to upload <span style="color:red;">*</span></label>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
              <input type="file" name="files" class="form-control-file" id = "gallery-photo-add" multiple>
              <div class="image-container"></div>
            </div>
            <div class = "form-group row ms-3">
              <h6> Note that the following info applies to all selected images in this section. <br>
              You may leave blank where not applicable, and edit individually afterward.</h6>

            </div>
            
          
              <div class = "form-group row ms-1">
                <label for="timstamp_input" class="col-sm-3 col-form-label">Image timestamp <span style="color:red;">*</span></label>
                <div class="col-sm-9">
                  <input style="max-width: 80%;" class="u-full-width" id="datetimepicker4" type="text" value="{{input_date_str}}" name="timestamp_input" required>
                </div> 
              </div>

              <div class="form-group row ms-1 me-1">
                <label for="inputTag" class="col-sm-2 col-form-label">Tag / Remark</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputTag" placeholder="Image description in less than 100 characters" name = "img_tag_input">
                </div>
              </div>

              <div class="form-group row ms-1 me-1">
                <label for="inputUploader" class="col-sm-2 col-form-label">Image uploader</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputUploader" placeholder="Uploader" value = "{{current_user.username}}"  name = "img_uploader" disabled>
                </div>
              </div>
              <fieldset class="form-group ms-3">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Image source</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="img_source" id="gridRadios1" value="uploaded" checked>
                      <label class="form-check-label" for="gridRadios1">
                        Uploaded (mobile phone, camera, etc)
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="img_source" id="gridRadios2" value="end device 1">
                      <label class="form-check-label" for="gridRadios2">
                        End device 1
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="img_source" id="gridRadios3" value="end device 2">
                      <label class="form-check-label" for="gridRadios3">
                        End device 2
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="img_source" id="gridRadios4" value="end device 3">
                      <label class="form-check-label" for="gridRadios4">
                        End device 3
                      </label>
                    </div>

                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="img_source" id="gridRadios5" value="end device 4" disabled>
                      <label class="form-check-label" for="gridRadios5">
                        End device 4
                      </label>
                    </div>

                  </div>
                </div>
              </fieldset>

              <div class = "form-group row ms-1">

                <label for="img_latitude" class="col-sm-2 col-form-label">Latitude:</label>
                <div class="col-sm-2">
                  <input type="number" id="img_latitude" name="img_latitude" min="-90" max="90">
                </div>

                <label for="img_longitude" class="col-sm-2 col-form-label">Longitude:</label>
                <div class="col-sm-2">
                  <input type="number" id="img_longitude" name="img_longitude" min="-180" max="180">
                </div>
              </div>

              <div class = "form-group row ms-3 me-3">
                <p>Note: Latitude should be between -90 and 90, and longitude should be between -180 and 180</p>
              </div>

              <p>
                  <input type="submit" value="Upload" class="btn btn-info ms-3">
              </p>

          </form>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{{ super() }}

<!-- Fetch jQuery -->
<script src="//code.jquery.com/jquery-3.5.0.min.js"></script>

<!-- Datetimepicker files start, copy from cdnjs.com (easier to maintain), instead of downloading -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<!-- jstimezonedetect script start -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.min.js" ></script>

<!--use Jquery function to attach datetime picker to 2 form fields & specify date format-->
<!--reference to from_date variable where python script will pass to template-->
<script>
jQuery( "#datetime_range" ).submit(function( event ) {
  timezone = jstz.determine();
  jQuery(".timezone").val(timezone.name());
});

jQuery('#datetimepicker3').datetimepicker({
  format:'Y-m-d H:i',
  theme: 'light',
  defaultDate:'{{input_date_str}}'
  });

jQuery('#datetimepicker4').datetimepicker({
format:'Y-m-d H:i',
theme: 'light',
defaultDate:'{{input_date_str}}'
});


jQuery("#range_select input[type=radio]").click(function(){
  timezone = jstz.determine();
  jQuery(".timezone").val(timezone.name());
  jQuery(".station").val({{station}});
  jQuery("#range_select").submit();
  });
</script>

<!-- This Javascript section displays image immediately when user uploaded -->
<script>
  function displayUploadedImage(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#uploaded_img').attr('src', e.target.result);
      document.getElementById("uploaded_img").style.display = "block";
    };

    reader.readAsDataURL(input.files[0]);
  }
}

// Preview images before upload:
// preview multiple image before uploading
// how to set multiple attributes using .atr:
// https://stackoverflow.com/questions/13014317/jquery-adding-two-attributes-via-the-attr-method
$(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {

        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    // $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    $($.parseHTML('<img>')).attr({'src': event.target.result, 'style': "width:30%; height:auto; border-style: solid; border-width: 4px; margin: 3px;"}).appendTo(placeToInsertImagePreview);
                    
                    

                }
                // { title:"Test", alt:"Test2" } 
                reader.readAsDataURL(input.files[i]);
            }
        }
    };

    $('#gallery-photo-add').on('change', function() {
        imagesPreview(this, 'div.image-container');
    });
});
</script>
{% endblock javascripts %}   